body {
    font-family: 'Open Sans';
    margin: 15px;
}

h1, h2, h3 {
    font-family: 'Roboto';
}

.registration-header {
    display: flex;
}

.registration-heading {
    margin-left: auto;
    margin-right: auto;
}

.submit-registration {
    text-align: center;
}

.nav-btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #fa5c00;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    text-align: center;
    max-width: 150px;
    margin: 150px auto 20px auto;
    
    
  }
  
  .nav-btn:hover {
    background: #fff;
    text-decoration: none;
    color:#fa5c00;
    border: #fa5c00 solid 1px;
  }

  .textbar {
      width: 98%;
      margin: 10px 0;
  }

  #profile-picture {
      height: 100%;
      width: 100%;
  }
  
  .profile-pic-div {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
  }

  #pet-sitter-img {
      display: none;
  }

  #upload-btn {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
  }

  #ps2next {
      position: absolute;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      right: 0;
      left: 0;

  }

  .bottom {
      font-style: italic;
      font-size: small;
      padding-left: 15px;
  }

  .top {
      display: inline-block;
  }

  .ps-services {
      border: 1px solid black;
  }

  #house-sitting, #spet-boarding {
      margin-bottom: 1px;
  }

  .services-div {
      margin-top: 15px;
  }

  #spet-boarding {
      margin-top: 15px;
  }

  .question-div {
      margin-bottom: 15px;
  }